/**
 * Style resetting.
 */
body {
  font-size: 16px;
}

a {
  transition: background-color .25s, color .25s, opacity .25s;
}

.btn {
  border-radius: 0;
  font-size: 16px;
}

.btn-noborder {
  border-width: 0;
}

.dropdown-menu {
  border: none;
  font-size: 16px;
}

.dropdown-menu > li > a {
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar {
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.header {
  min-height: 320px;
}

.section {
  padding: 84px 0;
}

.section-heading {
  margin-bottom: 42px;
  font-weight: 300;
  font-size: 48px;
}

.section-subheading {
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 36px;
}

.section-subheading a {
  text-decoration: none;
  color: #333;
}

.feature-icon {
  font-size: 132px;
}

.post-list dt {
  padding: 8px 0;
  font-weight: normal;
}

.post-list dd {
  margin-bottom: 8px;
}

.post-list .btn {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9e9e9;
}

.post-list .btn:hover {
  background-color: #fff;
  color: #999;
}

.footer {
  padding: 60px 0;
  background-color: #333;
  color: #fff;
}

.footer a {
  text-decoration: none;
  color: #999;
}

.footer a:hover {
  color: #fff;
}

.social-icon-list {
  font-size: 24px;
}

.back-to-top-btn {
  position: fixed;
  bottom: 12px;
  right: 24px;
  font-size: 48px;
  color: #fff;
  text-shadow: 0 2px 3px rgba(0,0,0,.2);
}

.back-to-top-btn:hover,
.back-to-top-btn:focus {
  color: #fff;
  opacity: .9;
}

.bg-gray-lighter { background-color: #eee; }
.bg-gray-light   { background-color: #e9e9e9; }